

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.item-1dot1 {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 485px;
    height: 16px;
    padding: 10px;
}

.item-1dot2, .item-1dot3, .item-1dot4 {
    font-size: 18px;
    color: #E5E7EB;
    margin-inline-start: 30px;
    height: 15px;
    padding: 10px;
}

.container-2-and-3 {
    margin-inline-start: -171px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 555px;
}

.container-2 {
    border: 1px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    
}

.container-3 {
    
    display: flex;
    width: 200px;
    height: 400px;
    margin: 67px;
}

.item-2dot1 {
    border: 1px;
    font-size: 48px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 5px;
}

.item-2dot2 {
    border: 1px;
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
    padding: 5px;
}

.container-4 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 557px;
}

.item-4dot1 {
    flex-direction: row;
    border: 1px white solid;
}

.container-5 {
    display: flex;
    flex-direction: row;
    border: 1px white solid;
}

.item-5dot1, .item-5dot2, .item-5dot3, .item-5dot4 {

   font-family: sans-serif; 
   margin-inline-start: 84px; 
   border: 1px white solid;
   border-width: 20px;
   padding: 2px;
   flex-basis: 140px;
   margin-right: 42px;
    
}

.item-4dot2, .item-4dot3, .item-4dot4, .item-4dot5 {
    border: 6px rgb(96, 96, 253) solid;
    border-radius: 7px;
    margin-right: 53px;
}


.container-6 {
    background-color: rgb(217, 215, 215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 527px;
}

.container-6dot1 {
    margin-right: -486px;
}


.container-7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 335px;
}

.container-7dot1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 5px;
    width: 876px;
    height: 176px;

}

.container-7dot2 {
    margin-inline-start: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}

.container-7dot3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

